.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  

  /* Set the background position and size if desired */
  
  /* margin-bottom: -200px; */
  
}
/* .bg-dark{
  background-color: #000000;
} */

.bgurl{
  background-color:cornflowerblue;
  
}


.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  /* color: #18363E; */
  color: whitesmoke;
  
}


.about .prompt {
  width: 40%;
  font-size: 30px;
  color: whitesmoke ;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: whitesmoke;
}

#skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/wbg4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* margin-bottom: -200px; */
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#skills h1 {
  color: whitesmoke;
}

#skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  #skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  #skills h2 {
    font-size: 30px;
  }
}
#cr{
  
  color: #000000;
  text-align: center;
  margin-left: 10px;
  
}




.App{
  background-image: url(../assets/wbg4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* margin-bottom: -200px; */
}

h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

h1 span {
  font-size: 40px;
  margin-left: 40px;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

